<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-right">
    <%= link_to 'Home', root_path, class: "navbar-brand active" %>
    <%= link_to 'Animals', animals_path, class: "navbar-brand" %>
    <%= link_to 'Sightings', sightings_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
